<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>LP3</title>
=======
    <title>Thplandingpage</title>
>>>>>>> 34bc4e483190814312e14560b8d257f70c4f9831
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118998756-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118998756-1');
</script>

=======
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118996710-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-118996710-1');
        gtag('set', {'user_id': 'USER_ID'}); // Set the user ID using signed-in user_id.
        </script>

<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
>>>>>>> 34bc4e483190814312e14560b8d257f70c4f9831
  </head>

  <body>
    <%= yield %>
  </body>
<<<<<<< HEAD
</html>
=======

  <!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

<!-- Begin MailChimp Signup Form -->

    <div style="background-color: #EAEAEF" id="mc_embed_signup">
        <form action="https://thehackingproject.us18.list-manage.com/subscribe/post?u=b270efe2d490207f9a87b42f5&amp;id=b75f610409" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Inscrivez-vous à notre newsletter pour avoir plus de détails sur THP et ce que nous pouvons faire pour vous :</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b270efe2d490207f9a87b42f5_b75f610409" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Inscrivez-vous" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>

<!--End mc_embed_signup-->


    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

 

            <!--Fourth column-->
            <div class="col-md-1 mx-auto" >
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">THP</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.thehackingproject.org">Site Web</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/thehackingproject/">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/project_hacking">Twitter</a>
                    </li>
                    
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
</html>

>>>>>>> 34bc4e483190814312e14560b8d257f70c4f9831
